#copy-two {
    background: url(/images/patterns/pattern-curve-top-left.svg);
    background-size: 895px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    position: relative;
    @media screen and (max-width: $mobile-l) {
        background: none;
    }

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background-color: lawngreen;
        height: auto;
        margin: 0 16.5rem;
        @media screen and (max-width: $tablet-l) {
            flex-direction: column;
            flex-flow: column-reverse;
        }
    }

    // &__picture {
    //     position: relative;
    // }

    &-lines {
        //absolute positioning causing alot of problems,
        //may need to find another way of positioning this. 
        position: absolute;
        right: 51px;
        bottom: 282px;
        @media screen and (max-width: $tablet-l) {
            bottom: 504px;
        }
        @media screen and (max-width: $mobile-l) {
            display: none;
        }
    }

    &__image {
        // margin-top: 12rem;
        transform: translateY(100px);
        box-shadow: 0 54px 74px -50px #5c6779;    
    }

    &__content-container {
        // background-color: lawngreen;
        width: 44.5rem;
        height: 27.3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 12.5rem;
        @media screen and (max-width: $tablet-l) {
            margin-right: 0;
            display: flex;
            align-items: center;
            text-align: center;
            margin: 156px 0 130px 0;
        }
        @media screen and (max-width: $mobile-l) {
            width: 32.7rem;
        }
    }

    &__content-heading {
        color: #111;
        font-size: calc(3.2rem + (40 - 32) * ((100vw - 375px) / (1440 - 375)));
        font-weight: bolder;
    }

    &__content-paragraph {
        font-size: calc(1.5rem + (18 - 15) * ((100vw - 375px) / (1440 - 375)));
        line-height: 3rem;
        color: #111;
    }
}