#footer {
    &__banner {
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: blue;
        
        &-picture {
            position: relative;
            width: 100%;
        }

        &-img {
            width: 100%;
        }

        &-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            @media  screen and (max-width: $tablet-l) {
                flex-direction: column;
            }
        }

        &-heading {
            color: #fff;
            font-size: 4rem;
            margin: 0 22.6rem 0 16.5rem;
            @media  screen and (max-width: $tablet-l) {
                margin: 0;
            }
        }

        &-button {
            width: 24.5rem;
            height: 6.4rem;
            background: none;
            color: #fff;
            border: 1px solid #fff;
            margin-right: 16.5rem;
            @media  screen and (max-width: $tablet-l) {
                margin: 2rem 0 0 0;
            }
        }
    }

    &__contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 24rem;
        background-color: black;
        padding: 0 16.5rem;
        @media screen and (max-Width: $tablet-l){
            // flex-direction: column;
            height: 32.8rem;
        }
    }

}

.footer-paragraph {
    font-size: 1.4rem;
    line-height: 2.8rem;
    text-transform: uppercase;
}