#reservation {
    background: cadetblue;
    height: 600px;
    position: relative;

    &__img {
        width: 100%;
    }

    &__logo {
        position: absolute;
        top: 6.5rem;
        left: 16.7rem;
    }

    &__content {
        width: 44.5rem;
        height: 21.6rem;
        color: #fff;
        position: absolute;
        // top: 35.4rem;
        left: 16.5rem;
        bottom: 12.6rem;
        @media screen and (max-width: $tablet-l) {
            top: 16rem;
            text-align: center;
            margin-bottom: 4rem;
        }

        &-heading {
            font-size: calc(3.2rem + (64 - 32) * ((100vw - 375px) / (1440 - 375))); 
            margin-bottom: 2.4rem;
        }

        &-copy {
            font-size: 1.8rem;
            line-height: 3rem;
        }
    }

    &__form {
        width: 100%;
        max-width: 54rem;
        height: 56rem;
        background-color: #fff;
        position: absolute;
        top: 25.8rem;
        right: 16.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 54px 74px -50px #5c6779;    

        @media screen and (max-width: $tablet-l) {
            height: 54.5rem;
            top: 37rem;
            right: 11.4rem;
            left: 11.4rem;
            bottom: 76.3rem;
        }
        @media screen and (max-width: $mobile-l) {
            width: 32.7rem;
            height: 58.5rem;
        }
        
        &-date-container, &-time-container {
            width: 44.4rem;
            height: 4.5rem;
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-name, &-email, &-date, &-time, &-number {
            width: 44.4rem;
            height: 4.5rem;
            font-size: 1.8rem;
            @media screen and (max-width: $mobile-l) {
                width: 26.3rem;
            }
        }

        &-name, &-email {
            border: none;
            border-bottom: 1px solid #8E8E8E;
            background: none;
            padding: 0 0 0 1.6rem;
        }

        &-date-day, &-date-month, &-date-year, &-time-hour, &-time-minute {
            font-size: 1.8rem;
            height: 4.5rem;
            border: none;
            border-bottom: 1px solid #8E8E8E;
            -webkit-appearance: none;
            -moz-appearance: textfield;
            margin: 0;
        }

        &-time-period {
            font-size: 1.8rem;
            height: 4.5rem;
            border: none;
            border-bottom: 1px solid #8E8E8E;
        }

        &-submit {
            width: 44.4rem;
            height: 6.4rem;
            background: #111;
            color: #fff;
            font-size: 1.4rem;
            letter-spacing: 2px;
        }
    }
}



#background {
    background: url(/images/patterns/pattern-curve-bottom-right.svg);
    background-repeat: no-repeat;
    height: 320px;
    @media screen and (max-width: $tablet-l) {
        background: none;
    }

    &__lines {
        margin: 16.6rem 0 0 65.5rem;
        @media screen and (max-width: $tablet-l) {
            display: none;
        }
    }
}

span {
    font-size: 1.8rem;
}