#slider {
    display: flex;
    padding: 160px 165px;
    background: url(/images/patterns/pattern-curve-top-right.svg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: -40% 0;
    align-items: center;
    @media  screen and (max-width: $tablet-l) {
        flex-direction: column;
    }

    &__content-container {
        width: 57rem;
        margin-left: 12.4rem;
        @media  screen and (max-width: $tablet-l) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
        }
    }

    &__content-heading {
        font-size: 4rem;
    }

    &__content-paragraph {
        color: #111;
        font-size: 1.8rem;
        margin: 1.6rem 0 3.2rem 0;
        line-height: 3rem;
        @media screen and (max-width: $tablet-l) {
            text-align: center;
        }
    }

    &__content-button {
        width: 24.5rem;
        height: 6.4rem;
        background: none;
        font-size: 1.4rem;
        margin-bottom: 7.4rem;
    }

    &__content-container {
        @media screen and (max-Width: $tablet-l) {
            display: flex;
            flex-direction: column-reverse;   
        }
    }

    &__content-wrap {
        display: flex;
        flex-direction: column;
    }

    &__picture {
        position: relative;
    }

    &-lines {
        position: absolute;
        left: -40px;
        top: -38px;
    }
}

.slider__content-link {
    color: #111;
    font-size: 1.4rem;
    @media screen and (max-width: $tablet-l) {
        display: inline-flex;
    }
}

.slider__content-link:nth-of-type(3) {
    margin: 1.2rem 0;
}
