/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--pf-spartan);
}

/*Root*/
:root {
    /*Primary*/
    --pc-beaver: #9e7f66;
    --pc-cod-gray: #111111;
    /*Secondary*/
    --sc-mirage: #17192b;
    --sc-ebony-gray: #242b37;
    --sc-shuttle-gray: #5c6779;
    --sc-white: #ffffff;
    /*Fonts*/
    --pf-spartan: 'Spartan', sans-serif;
    /*Font Weight*/
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;
}

body {
    max-width: 1440px;
    margin: auto;
    position: relative;
}

#hero {
    /* max-width: 1440px;
    height: 820px; */
    margin: auto;
    position: relative;
}

.logo {
    position: absolute;
    top: 7.92%;
    left: 11.59%;
    animation: fadeIn 2s forwards;
}

.hero-content {
    position: absolute;
    color: var(--sc-white);
    width: 36.31%;
    height: 44.39%;
    top: 31.46%;
    left: 11.45%;
    animation: fadeIn 2s forwards;
}

.hero-heading {
    font-weight: 300;
    font-size: 4rem;
    letter-spacing: -0.8px;
    line-height: 72px;
}

.hero-paragraph {
    margin: 24px 0 42px 0;
    font-size: 1.125rem;
    line-height: 30px;
    letter-spacing: -0.22px;
    width: 86.99%;
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}

.mask {
    background-color: #979797;
    filter: opacity(0.1);
    width: 63%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.hero-button {
    width: 46.84%;
    height: 17.58%;
    border: 2px solid var(--sc-white);
    color: var(--sc-white);
    background: none;
    font-weight: var(--fw-semi-bold);
    font-size: 14px;
}

/* Enjoy Section */

.ep-image {
    position: absolute;
    top: 750px;
    left: 165px;
    right: 745px;
    /* box-shadow: 100px 100px black; */
}

.background-shape {
    position: absolute;
    width: 62.15%;
    height: 320px;
    left: 0;
    top: 1070px;
    background: #5C6779;
    mix-blend-mode: normal;
    opacity: 0.08;
    border-radius: 100px 0px 0px 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.line-shape {
    width: 71px;
    height: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.oval {
    width: 7px;
    height: 7px;
    border: 1px solid var(--pc-beaver);
    border-radius: 50%;
}

.line-shape-line {
    width: 56px;
    height: 1px;
    background: var(--pc-beaver);
}

.enjoyable-place-content {
    position: absolute;
    width: 445px;
    height: 273px;
    left: 830px;
    top: 997px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.copy-heading {
    font-size: 2.5rem;
}

.copy-paragraph {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.22px;
}

/*Local Source*/

.local-source-content {
    position: absolute;
    width: 445px;
    height: 273px;
    left: 165px;
    top: 1791px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.local-source-image {
    position: absolute;
    left: 735px;
    top: 1591px;
    z-index: 1;
}

.background-shape-two {
    position: absolute;
    width: 895px;
    height: 320px;
    left: 545px;
    top: 1911px;
    background: #5C6779;
    mix-blend-mode: normal;
    opacity: 0.08;
    border-radius: 100px 0px 0px 0px;
}

.line-graphic {
    width: 160px;
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 1229px;
    top: 1873px;
    z-index: 2;
}

.line {
    background-color: var(--pc-beaver);
    width: 160px;
    height: 6px;
}

/*Highlights*/
#highlights {
    width: 1440px;
    height: 761px;
    background-color: var(--pc-cod-gray);
    position: absolute;
    left: 12.5px;
    top: 2223.5px;
}

.highlights-content {
    color: var(--sc-white);
    background-color: yellowgreen;
    width: 1110px;
    height: 441px;
}